body{
	
}

li .event-thumb{
	width:60px;
	margin-top:12px;
	margin-left:10px;
}
li .event-time{
	font-size:10px;
}
li .event-title{
	width:100%;
	float:left;
	text-overflow: ellipsis;
	overflow:hidden;
}
.going-check{
	margin:7px 15px 0 20px;
	position:relative;
	float:right;
}
.buy-ticket-link{
	float:right;
	clear:both;
}
.floatR{
	float:right;
}
.floatL{
	float:left;
}
.relative{
	position:relative;
}
.clear{
	clear:both;
}
.right-event-detail{
	
}
.s-font{font-size:12px;}

.place-events-li{

}
.place-events-li-a{
	width:100%;
	float:left;
	padding-top:15px !important;
	padding-bottom:15px !important;
}

.pull-loader{
	position:relative;
	padding-bottom:0 !important;
}
.pull-loader-arrow{
	display:block;
	margin:0 auto;
}
.pull-loader-con{
	bottom:7px;
	margin:0 auto;
	top:auto !important;
}
.pull-loader-spinner{
	display:none;
}
.fullWidth{
	width:100%;
}
