<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    	<div data-role="page" data-theme="a" id="place" class="app">
            <div data-role="header">
                <h1>Veranstaltungen</h1>
                <a href="" data-shadow="false" data-iconshadow="false" data-icon="arrow-l" data-iconpos="notext" data-rel="back" data-ajax="false">Back</a>
            </div>
            <div data-role="content" class="ui-content" role="main">
				
    		</div>
            <script type="text/html" id="Place-template">
				<div data-role="collapsible" data-collapsed="false">
					<h1><%= place.Place.name %></h1>
					<ul id="placeevents" data-role="listview">
					<% _.each(events, function(event) { %>
						<li><a data-href="events/view/<%= event.Event.id %>">
							<% if(event.Event.pic_square) { %>
								<img src=<%= event.Event.pic_square %> />
							<% } %>
							<%= event.Event.name %><br />
							<span style="font-size:10px"><%= event.Event.DateString %></span>
						</a>
						</li>
					<% }); %>
					</ul>
				</div>
			</script>
        </div>
    </body>
</html>
